<h1 class="f2">Welcome</h1>

<div class="fl w-75 pa2">
<div class="outline bg-white tc pv4">
<%= link_to 'My Site admin', 'admin/login', :class => 'ba black-70 no-underline grow br2 b inline-flex items-center mr3 mb3 pv2 ph3', :query => { :foo => 'bar' }, :fragment => 'deep'%>
<%= link_to 'Blog', 'blog', :class => 'ba black-70 no-underline grow br2 b inline-flex items-center mr3 mb3 pv2 ph3' %>
<%= link_to 'Catalog', 'catalog', :class => 'ba black-70 no-underline grow br2 b inline-flex items-center mr3 mb3 pv2 ph3' %>
<%= link_to 'About', 'about/template', :class => 'ba black-70 no-underline grow br2 b inline-flex items-center mr3 mb3 pv2 ph3' %>
<br />
<ul>
  <% 5.times do |num| %>
    <li>Count <%= num %></li>
  <% end %>
</ul>
<%= lorem.sentences 5 %>
<p>A tachyon /ˈtæki.ɒn/ or tachyonic particle is a hypothetical particle that always moves faster than light. The word comes from the Greek:
<br />
ταχύς or tachys, meaning “swift, quick, fast, rapid”</p>


</div>
</div>
<div class="fl w-25 pa2">
<div class="outline bg-white tc pv4 truncate no-wrap"><img src="<%= lorem.image('300x400', :random_color => true) %>"></div>
</div>